.accueil{
    
    background-image: url(../assets/marble.jpg);
    height: 150em;
    width: 100%;
   background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    z-index: 1;
}




.premiereImage{
    background-image:  url(../assets/cards.jpg);
    background-repeat: no-repeat;
   background-size: 100%;
   width: 85%;
 height: 170px;
border-radius: 10px;
 margin-top: 40px;
 box-shadow: 10px 10px 5px  grey;
 transition: transform .4s;
 
}

.premiereImage:hover{
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textImage1{
  text-align: center;
    margin-top: 120px;
   color: black; 
   font-size: 40px;   
}

.title{
     font-family: 'Sedgwick Ave Display', cursive;
     text-decoration: none;
}

.explanation{
    margin-left: 20px;
    font-size: 20px;
     text-decoration: none;
}

.container2{
display: flex;
flex-direction: column;
align-items: center;
 
}

.deuxiemeImage{
background-image:  url(../assets/fifaSquad.png);
    background-repeat: no-repeat;
   background-size: 20em;
   width: 85%;
 height: 16.7em;
border-radius: 10px;
 margin-top: 40px;
 box-shadow: 10px 10px 5px  grey;
 transition: transform .4s;
 

 
}

.deuxiemeImage:hover{
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);

}


.textImage2{
  
    margin-top: 40px;
   color: black; 
   font-size: 40px;  
}

.title2{
 font-family: 'Sedgwick Ave Display', cursive;
  text-align: center;
}

.explanation2{
   
    font-size: 20px;
    margin-left: 20px;
     text-decoration: none;
}

.container3{
display: flex;
flex-direction: column;
align-items: center;

}

.troisiemeImage{
background-image:  url(../assets/fifaTotw.jpg);
    background-repeat: no-repeat;
   background-size: 20em;
   width: 85%;
 height: 10.5em;
border-radius: 10px;
 margin-top: 40px;
 box-shadow: 10px 10px 5px  grey;
 transition: transform .4s;
 
}

.troisiemeImage:hover{
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);

}


.textImage3{
   margin-top: 60px; 
}

.title3{
    
 font-family: 'Sedgwick Ave Display', cursive;
     text-align: center;
     font-size: 40px; 
      color: black; 
    
     
}

.explanation3{
    text-align: center;
    margin-left: 20px;
    font-size: 20px;  
    color: black; 
     text-decoration: none;
}

.textImage4{
    
margin-top: 60px;
     text-align: center;
     font-size: 40px; 
      color: black; 
    
     
}
.actufifa{
    text-decoration: none;
    color: black;
}
.actufifa:hover{
   color: rgb(190, 162, 7) ;
}

.navlinkk{
    text-decoration: none;
    color: black;
}
.navlinkk:hover{
    color:rgb(190, 162, 7)
}


/* ------------------------------------------------config desktop----------------------------------------------------------------------------- */

@media screen and (min-width: 1224px) {
.accueil{
    
    background-image: url(../assets/marble.jpg);
    height: 135em;
    width: 100%;
   background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    z-index: 1;
}


.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
}



.premiereImage{
    background-image:  url(../assets/cards.jpg);
    background-repeat: no-repeat;
   background-size: 40em;
   width: 40em;
 height: 20em;
border-radius: 10px;
 margin-top: 40px;
 box-shadow: 10px 10px 5px  grey;
 transition: transform .4s;
 
}

.premiereImage:hover{
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
}



.textImage1{
  text-align: center;
    margin-top: 120px;
   color: black; 
   font-size: 40px;   
}

.title{
     font-family: 'Sedgwick Ave Display', cursive;
    
}

.explanation{
    margin-left: 20px;
    font-size: 20px;
     text-decoration: none;
}

.container2{
 display: flex;
flex-direction: row-reverse;
justify-content: space-around;
margin-top: 60px;
 
}

.deuxiemeImage{
background-image:  url(../assets/fifaSquad.png);
    background-repeat: no-repeat;
   background-size: 40em;
   width: 40em;
 height: 33.3em;
border-radius: 10px;
 margin-top: 40px;
 box-shadow: 10px 10px 5px  grey;
 transition: transform .4s;
 

 
}

.deuxiemeImage:hover{
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);

}


.textImage2{
  
    margin-top: 40px;
   color: black; 
   font-size: 40px;  
}

.title2{
 font-family: 'Sedgwick Ave Display', cursive;
  text-align: center;
  margin-top:60px
}

.explanation2{
   
    font-size: 20px;
    margin-left: 20px;
     text-decoration: none;
}

.container3{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top:60px
}

.troisiemeImage{
background-image:  url(../assets/fifaTotw.jpg);
    background-repeat: no-repeat;
   background-size: 50em;
   width: 50em;
 height: 25em;
border-radius: 10px;
 margin-top: 60px;
 box-shadow: 10px 10px 5px  grey;
 transition: transform .4s;
 
}

.troisiemeImage:hover{
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);

}




.title3{
    
 font-family: 'Sedgwick Ave Display', cursive;
     text-align: center;
     font-size: 40px; 
      color: black; 
    margin-top: 60px;
     
}

.explanation3{
    text-align: center;
    margin-left: 20px;
    font-size: 20px;  
    color: black; 
    text-decoration: none;
}

.textImage4{

     text-align: center;
     font-size: 40px; 
      color: black; 
    margin-top: 110px;
     
}

.actufifa{
    text-decoration: none;
}

.navlinkk{
    text-decoration: none;
}

}