

.supp-item{
    border:none;
    background-color: transparent;
    font-size: 1.4em;
}

.toRow{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
}

.petitspoints{
    text-decoration: none;
}

.add-item{
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    color: white;
    background-color: black;
}

@media screen and (min-width: 1023px) {
.add-item{
    margin-left: 46%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    color: white;
    background-color: black;
}
}
