.actufifa{
        background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   height:100%;

color: white;
   font-family: 'Teko', sans-serif;
   font-size: 1.5em;
}

.items{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
margin-left: 12%;
  
}

.card{
     background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   height:120em;
color: black;
  margin-bottom:10px;
}

.cardbody{
   color: black;
  
}

.readmore{
    border: none;
      background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   color:rgb(190, 162, 7)
}


   /* ------------------------------------------------config desktop----------------------------------------------------------------------------- */

@media screen and (min-width: 1224px) {

  .actufifa{
        background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   height:100%;

color: white;
}

.items{
    display: flex;
  flex-direction: row;
  

}

.card{
     background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   height:120em;
color: black;

}

.cardbody{
   color: black;
  
}

.readmore{
    border: none;
      background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   color:rgb(190, 162, 7)
} 
}