

   
   /* ------------------------------------------------config desktop----------------------------------------------------------------------------- */


    .team{
      background-image: url(../assets/etoiles.jpeg);
    height: 100%;
    width: 100%;
   background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    z-index: 1;   
}

.testImage{
    height: 550px;
    width: 500px;
}

.titre{
        padding-top:50px  ;
        padding-left:390px;
         
}
.titre2:hover{
    color: rgb(190, 162, 7)  
}
.titre2{
        padding-top:50px  ;
        padding-left:390px;
        cursor:pointer;
}

.rpc{
    padding-left:70%;
    margin-top:80px    
}

.carteFUT{
    background-image: url(../assets/carteFUT.png);
    background-repeat: no-repeat; 
    
   
}

.terrainGlobal{
 
 background-image:url(../assets/terrain.jpg);
 width: 100%;
 background-repeat:no-repeat;
 
background-position:center;
 height: 90em;
 


}

.carteFutimage{
    height: 5%;
}


.h1Titre{
    display:flex;
}

.cartefut{
width: 100%;
height:20%;
}
.carte-mystère{
 width: 15%
}


.liste-joueurs{
    display:flex;
  margin-left: 70%;
    
}

.goal{
 position: absolute;
width: 15%;
top:150%;
left:44%   
}

.defense{
    
}
.defdroit{
position: absolute;
width: 15%;
top:110%;
left:77%
}

.defdroit-cartefut{
   position: absolute;
   width: 15%; 
   top:80%;
left:80%
  
}
.central1{
position: absolute;
width: 15%;
top:120%;
left:30%
}
.central1-cartefut{
position: absolute;
width: 15%;
top:90%;
left:30%
}
.defgauche{
position: absolute;
width: 15%;
top:110%;
left:7%

}
.defgauche-cartefut{
position: absolute;
width: 15%;
top:80%;
left:9%

}
.central2{
position: absolute;
width: 15%;
top:120%;
left:55%
}
.central2-cartefut{
position: absolute;
width: 15%;
top:90%;
left:60%
}
.milieu{

}
.md{
position: absolute;
width: 15%;
top:77%;
left:75%
}
.md-cartefut{
position: absolute;
width: 15%;
top:50%;
left:70%
}
.mc1{
position: absolute;
width: 15%;
top:92%;
left:32%
}
.mc1-cartefut{
position: absolute;
width: 15%;
top:65%;
left:32%
}
.mc2{
position: absolute;
width: 15%;
top:92%;
left:57%
}
.mc2-cartefut{
position: absolute;
width: 15%;
top:65%;
left:57%
}
.mg{
position: absolute;
width: 15%;
top:77%;
left:15%
}
.mg-cartefut{
position: absolute;
width: 15%;
top:50%;
left:18%
}
.attaque{

}
.att1{
position: absolute;
width: 15%;
top:67%;
left:52%
}
.att1-cartefut{
position: absolute;
width: 15%;
top:40%;
left:55%
}
.att2{
position: absolute;
width: 15%;
top:67%;
left:37%
}
.att2-cartefut{
position: absolute;
width: 15%;
top:40%;
left:37%
}
.players-modal{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
}


.select-player{
    display:flex;
      justify-content: space-between;
    width: 100%;
    height: 10%;
    border:none;
    background-color: transparent;
}

.select-player:hover{
   color: rgb(190, 162, 7)  
}

.selection-firstname{
    font-family: 'Teko', sans-serif;
    font-size:20px;
    position:absolute;   
}
.selection-lastname{
font-family: 'Teko', sans-serif;
font-size:20px;
position:absolute;
left:30%
}
.selection-position{
font-family: 'Teko', sans-serif;
font-size:20px;
position:absolute;
left:60%
}
.selection-rate{
font-family: 'Teko', sans-serif;
font-size:20px;
position:absolute;
left:90%
}
.selection-vide{
font-family: 'Teko', sans-serif;
font-size:20px;
position:relative
}

@media screen and (max-width: 770px) and (min-height:830px) {
    .team{
      background-image: url(../assets/etoiles.jpeg);
    height: 100%;
    width: 100%;
   background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    z-index: 1;   
}

.titre{
        padding-top:50px  ;
        padding-left:390px;
         
}
.titre2:hover{
    color: rgb(190, 162, 7)  
}
.titre2{
        padding-top:50px  ;
        padding-left:390px;
        cursor:pointer;
}

.rpc{
    padding-left:70%;
    margin-top:80px    
}

.carteFUT{
    background-image: url(../assets/carteFUT.png);
    background-repeat: no-repeat; 
    
   
}

.terrainGlobal{
 
 background-image:url(../assets/terrain.jpg);
 width: 100%;
 background-repeat:no-repeat;
 
background-position:center;
 height: 90em;
 


}

.carteFutimage{
    height: 5%;
}


.h1Titre{
    display:flex;
}

.cartefut{
width: 100%;
height:20%;
}
.carte-mystère{
 width: 15%
}


.liste-joueurs{
    display:flex;
  margin-left: 70%;
    
}

.goal{
 position: absolute;
width: 15%;
top:110%;
left:44%   
}


.defdroit{
position: absolute;
width: 15%;
top:80%;
left:77%
}


.central1{
position: absolute;
width: 15%;
top:85%;
left:30%
}

.defgauche{
position: absolute;
width: 15%;
top:80%;
left:7%

}

.central2{
position: absolute;
width: 15%;
top:85%;
left:55%
}


.md{
position: absolute;
width: 15%;
top:64%;
left:75%
}

.mc1{
position: absolute;
width: 15%;
top:68%;
left:32%
}

.mc2{
position: absolute;
width: 15%;
top:68%;
left:57%
}

.mg{
position: absolute;
width: 15%;
top:64%;
left:10%
}

.att1{
position: absolute;
width: 15%;
top:55%;
left:58%
}
.att2{
position: absolute;
width: 15%;
top: 55%;
left:30%
}

.players-modal{
    display:flex;
    justify-content: space-between;
}

.select-player{
    display:flex;
      justify-content: space-between;
    width: 100%;
    height: 10%;
    border:none;
    background-color: transparent;
}
}

/* _________________________________________________________config mobile_________________________________________________________________ */

