.gestion-cartes{
      background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
    height: 120%;
}

.ajouter-joueur{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1rem;
}

.avant-footer{
	height:100px
}

.ajouter-joueur-button{
    border-radius: 10px;
      font-family: 'Sedgwick Ave Display', cursive;
    color: white;
    background-color: black;
  
    text-align: center;
}

@media screen and (max-width: 759px) {
    .ajouter-joueur-button{
    border-radius: 10px;
      font-family: 'Sedgwick Ave Display', cursive;
    color: white;
    background-color: black;
 position:absolute;
 top:45%;
 left:33%;
    text-align: center;
}
}