.background2{
    background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   height:120em;
   display:flex
}

.sidebar{
     background-image: url(../assets/marble.jpg);
     background-size: cover;
   background-attachment:fixed;
 
}

.vivacite:hover{
color:rgb(190, 162, 7);
}

.label{
   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;   
}

.label:hover{
color:rgb(190, 162, 7);
}

.fontsidebar{
    font-size: 20px;
}

.joueurs{
    padding-left: 400px;
}

.playerexplanation{
padding-left: 180px;
}

.stat{
    color:blanc;
}

.bannière{
    color: white;
}

.mobileMenu{
    padding-left: 20px;
    padding-top: 20px;
    height: 1px;
display:flex;
flex-direction: row;
flex-wrap: wrap;
}

.joueursMobile{
    padding-top: 50px;
   padding-left: 50px;
}

label{
  padding-right: 10px  ;
}


.dribbleurs{
    width: 30px;
    height: 30px;
  padding-bottom: 15px;  
}
.flèches{
     height: 30px;
     width: 30px;
padding-bottom: 15px;
}
.forcedelanature{
    width: 30px;
padding-bottom: 15px;
}
.notegenerale{
     width: 30px;
padding-bottom: 15px;
}
.rocs{
padding-bottom: 40px;
}

