.nouveau-joueur{
    height:100% ;
          background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   
}

.type{
    text-align: center;
    padding-left: 50px;
  
}

.row{
    padding-top: 40px !important;
}

.valider{
    margin-left: 36%;
    margin-top: 2%;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    background-color: black;
    color: white;
}

.message-ajout{
    text-align: center;
    margin-top: 2%;

}

.form-contro{
     font-family: 'Sedgwick Ave Display', cursive !important;
}