.nouvel-article{
     height:100% ;
          background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;   
}

.contenu{
    margin-left: 25%;
    margin-top: 2%;
}

.valider-article{
    margin-left: 45%;
    width: 7em;
    margin-bottom: 2%;
    border-radius: 10px;
    color: white;
    background: black;
      font-family: 'Sedgwick Ave Display', cursive;
}

.area{
    width: 67%;
    height:10em;
}

.article-titre{

}

.container-form{
    padding-top: 2%;
    
}