.contenu{
    margin-left: 25%;
    margin-top: 2%;
}

.valider-article{
    margin-left: 45%;
    width: 7em;
    margin-bottom: 2%;
}

.area{
    width: 67%;
    height:10em;
}

.article-titre{
    margin-top: 2%;
}