

	.stat{
	  background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
    height: 100%;
}

.background2{
    background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;

   
}

.menuJoueurs{
	display:flex;
	flex-direction: row;
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
}

.sidebar{
     background-image: url(../assets/marble.jpg);
     background-size: cover;
   background-attachment:fixed;
 
 
}

.vivacite:hover{
color:rgb(190, 162, 7);
}

.label{
   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;   
}

.label:hover{
color:rgb(190, 162, 7);
}

.fontsidebar{
    font-size: 20px;
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
}

.bannière{
    color: white;
}

.styleListe {
	list-style-type: none;
	margin-top: 20px;
	
	
	display:flex;
	
	
}

/* ----------------------carte fut---------------------------------------------------------------- */
.good{
	display: flex;
	flex-wrap:wrap;
	

}



.recherche{
	
	color: white;
display:flex;
height:100%;
width:50px	;
	 
}

.backrecherche{


background-color:black;
	width: 20%;
	margin-left: 1216px;
	z-index: 9;
	

	float:right
}
.listerecherche{

	padding-left:40px;
	  font-family: 'Sedgwick Ave Display', cursive;
	  text-decoration: none;
	  height:100%;
	  margin-top:20px;
	 z-index: 9;
	 
	
}

.miseenpage{
display: flex;

}

.affichage{
	
	margin-left: 0;
	
}

.boutonaffichage{
	background-color:transparent;
}


.dribbleursclicked{
 color:rgb(190, 162, 7) ;
 background-color: transparent;
 border: none;
 font-size: 30px;
}
.dribbleurs{

}

.filtretitre{
	font-size: 30px;
}

.hidden{
	visibility: hidden;
	background-color: transparent;
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;

}

.normal{
	visibility: visible;
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
}

.fond{
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   padding-bottom: 10px;
   border-radius: 10px;
}

.boutonresultat{

    background-color: rgb(190, 162, 7) ;
    color: white;
   border-radius: 10px;
   margin-left: 50px;


}

.searchbar{
text-align: end;
margin-top: 20px;
}



.fut-player-card {
	position: relative;
	width: 300px;
	height: 485px;
	background-image: url(../assets/carteFUT.png);
	display:flex;
	background-size: 100% 100%;
	
	padding: 3.8rem 0;

	-webkit-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;	
}

.fut-player-card:hover {
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
}

.player-card-top {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: black;
	padding: 0 1.5rem;
}

.player-card-top .player-master-info {
	position: absolute;
	line-height: 2.2rem;
	font-weight: 300;
	padding: 1.5rem 0;
	text-transform: uppercase;
}

.player-card-top .player-master-info .player-rating {
	font-size: 2rem;
}

.player-card-top .player-master-info .player-position {
	font-size: 1.4rem;
}

.player-card-top .player-master-info .player-nation {
	display: block;
	width: 2rem;
	height: 25px;
	margin: 0.3rem 0;
}

.player-card-top .player-master-info .player-nation img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.player-card-top .player-master-info .player-club {
	display: block;
	width: 2.1rem;
	height: 40px;
}

.player-card-top .player-master-info .player-club img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.player-card-top .player-picture {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
}
.player-card-top .player-picture img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	position: relative;
	right: -1.5rem;
	bottom: 0;
}

.player-card-top .player-picture .player-extra {
	position: absolute;
	right: 0;
	bottom: -0.5rem;
	overflow: hidden;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	height: 2rem;
	padding: 0 1.5rem;
	text-align: right;
	background: none;
}

.player-card-top .player-picture .player-extra span {
	margin-left: 0.6rem;
	text-shadow: 2px 2px #333;
}

.player-card-bottom {
	position: relative;
}

.player-card-bottom .player-info {
	display: block;
	padding: 0.3rem 0;
	color: black;
	width: 90%;
	margin: 0 auto;
	height: auto;
	position: relative;
	z-index: 2;
}

.player-card-bottom .player-info .player-name {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(233, 204, 116, 0.1);
	padding-bottom: 0.3rem;
	overflow: hidden;
}
.player-card-bottom .player-info .player-name span {
	display: block;
	text-shadow: 2px 2px #111;
}

.player-card-bottom .player-info .player-features {
	margin: 0.5rem auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.player-card-bottom .player-info .player-features .player-features-col {
	border-right: 2px solid rgba(233, 204, 116, 0.1);
	padding: 0 2.3rem;
}

.player-card-bottom .player-info .player-features .player-features-col span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
	margin-right: 0.3rem;
	font-weight: 700;
}

.player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
	font-weight: 300;
}

.player-card-bottom .player-info .player-features .player-features-col:last-child {
	border: 0;
}

.player-position{
  font-weight: bolder;
  margin-left: 45px;
}
.player-rating{
  margin-left: 42px;
}



.styleListe {
	list-style-type: none;
	text-decoration: none;
	
	width: 120%;
	
	margin-bottom: 20px;
	border-left:1px;  
}


.listPlayers{
	text-decoration: none;
display: flex;
flex-direction: column;
background-position: center;
font-family: 'Sedgwick Ave Display', cursive;


}

.titre{
height: 130px;
width: 100%;



}



.colomnejoueur{
	position: absolute;
left:300px;	

text-decoration: none;
}
.colomnenomjoueur{
	position: absolute ;
	left:425px;

text-decoration: none;
}
.colomnenotejoueur{
	position: absolute;
left:543px;

text-decoration: none;
}
.colomnepositionjoueur{
	position: absolute;
left:660px

}

.colomnepaysjoueur{
position: absolute;
left:775px

}

.colomnedribblesjoueur{
position: absolute;
left:900px
}
.colomnevitessejoueur{
position: absolute;
left:1045px
}
.colomnepuissancejoueur{
position: absolute;
left:1170px
}

.colomnedefensejoueur{
position: absolute;
left:1295px
}

.div-pass{
	width: 1px;
margin-left: 1000px
;
}

.colomnepassejoueur{


margin-left: 190px
}




.link{
	text-decoration: none !important;
	color:  black;
		
	

}


.link:hover{
	
		color: rgb(190, 162, 7);
}

.attributsfiltre{
	display:flex;
	border: solid;
	border-radius: 5px;

	
}

.att {
margin-left: 43px;
margin-right: 43px;
  font-family: 'Sedgwick Ave Display', cursive;
  background-color: transparent;
  border: none;
  margin-top: 10px;
}


/* ---------------------------------------------------------test pour pagination-------------------------------------- */

.pagination {
 align-items: center; 
 margin-left: 37%;
}


.pagination .text {
	/* Taille chiffre à gauche */
  opacity: 0.6;
  font-size: 1.5rem;
}



.page {
	/* Configuration des boutons changement de page */
  color: black;
  height: 3rem;
  width: 3rem;
 
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.2rem rgb(190, 162, 7) ;
  background-color: transparent;
  border-radius: 0.7rem;
  cursor: pointer;
  
}

.page.active,
.page:hover {
	/* configuration intérieur des boutons changement de page */
  background-color: black;
  color:white
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.restantpage{
	  background-image: url(../assets/marble.jpg);
  
    width: 100%;
   background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
	
}


@media screen and (max-width: 1224px) {
.fontsidebar{
position: inherit;
}
.sidebar{
position: inherit;
}
.menuJoueurs{
	width: 20px;
	position: inherit;
}
.label{
position: inherit;
}

.attributsfiltre{
	display:flex;
	border: solid;
	border-radius: 5px;


}
.att{
margin-left: 10px;
margin-right: 10px;
  font-family: 'Sedgwick Ave Display', cursive;
  background-color: transparent;
  border: none;
  margin-top: 10px;	
}
}