

	.stat{
	  background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
    height: 100%;
	width: 100%;
	
}


.background2{
    background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;

   
}

.menuJoueurs{
	display:flex;
	flex-direction: row;
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   
}

.sidebar{
     background-image: url(../assets/marble.jpg);
     background-size: cover;
   background-attachment:fixed;
 font-family: 'Teko', sans-serif;
 font-size: 30px;
 
}

.vivacite:hover{
color:rgb(190, 162, 7);
}

.label{
   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;   
}

.label:hover{
color:rgb(190, 162, 7);
}

.fontsidebar{
   		
  text-shadow:#e7f6ff 0 -1px 0,
rgb(190, 162, 7) 1px 1px 0,
white 2px 2px 0,
brown 3px 3px 0,
#333 5px 5px 10px;
color:black;
font-size: 20px;
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;

}

.bannière{
    color: white;
}

.styleListe {
	list-style-type: none;
	margin-top: 50px;
	font-family: 'Teko', sans-serif;
		z-index:1;
	display:flex;
	font-size: 30px;
	
}
.styleListe-attributs {
	list-style-type: none;
	margin-top: 50px;
		  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow:#e7f6ff 0 -1px 0,
rgb(190, 162, 7) 1px 1px 0,
white 2px 2px 0,
brown 3px 3px 0,


#333 5px 5px 10px;
color:black;
font-size: 25px;
	display:flex;
	z-index:1
	
}

/* ----------------------carte fut---------------------------------------------------------------- */
.good{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	
z-index: 1;
}



.recherche{
	
	color: white;
display:flex;
height:40px;
width:50px	;
	 
}

.backrecherche{


background-color:black;
	width: 30%;
	margin-left: 1216px;
	
	z-index: 9999;
position:relative;
	float:right;
}
.listerecherche{
	text-decoration: none;
}
.listerecherche-firstname{
position: absolute;
left:-2%;
	padding-left:40px;
	font-family: 'Teko', sans-serif;
	font-size: 30px;
	  text-decoration: none;
	 	
}
.listerecherche-lastname{
position: absolute;
left:25%;
	padding-left:40px;
	font-family: 'Teko', sans-serif;
	font-size: 30px;
	  text-decoration: none;

}
.listerecherche-rate{
position: absolute;
left:55%;
	padding-left:40px;
	font-family: 'Teko', sans-serif;
	font-size: 30px;
	  text-decoration: none;
	
}
.listerecherche-position{
position: absolute;
left:75%;
	padding-left:40px;
	font-family: 'Teko', sans-serif;
	font-size: 30px;
	  text-decoration: none;
	  
}


.miseenpage{
display: flex;

}

.affichage{
font-family: 'Teko', sans-serif;
font-weight: bolder;
	position: absolute;
	left: 50%;
	top:43%
}

.boutonaffichage{
	background-color:transparent;
	
}


.dribbleursclicked{
 color:rgb(190, 162, 7) ;
 background-color: transparent;
 border: none;
 font-size: 30px;
}

.filtretitre{
	font-size: 30px;
	
}

.hidden{
	visibility: hidden;
	background-color: transparent;
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;

}

.normal{
	visibility: visible;
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
}

.fond{
	   background-image: url(../assets/marble.jpg);
   background-size: cover;
   background-attachment:fixed;
   padding-bottom: 10px;
   border-radius: 10px;
   border: none;
}

.boutonresultat{

    background-color: rgb(190, 162, 7) ;
    color: white;
   border-radius: 10px;
   margin-left: 50px;


}

.searchbar{
text-align: end;
margin-top: 20px;

z-index: 15;
}



.fut-player-card {
	position: relative;
	width: 300px;
	height: 485px;
	background-image: url(../assets/carteFUT.png);
	display:flex;
	background-size: 100% 100%;
	
	padding: 3.8rem 0;

	-webkit-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;	
	margin-top: 100px;
}

.fut-player-card:hover {
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
}

.player-card-top {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: black;
	padding: 0 1.5rem;
}

.player-card-top .player-master-info {
	position: absolute;
	line-height: 2.2rem;
	font-weight: 300;
	padding: 1.5rem 0;
	text-transform: uppercase;
}

.player-card-top .player-master-info .player-rating {
	font-size: 2rem;
}

.player-card-top .player-master-info .player-position {
	font-size: 1.4rem;
}

.player-card-top .player-master-info .player-nation {
	display: block;
	width: 2rem;
	height: 25px;
	margin: 0.3rem 0;
}

.player-card-top .player-master-info .player-nation img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.player-card-top .player-master-info .player-club {
	display: block;
	width: 2.1rem;
	height: 40px;
}

.player-card-top .player-master-info .player-club img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.player-card-top .player-picture {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
}
.player-card-top .player-picture img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	position: relative;
	right: -1.5rem;
	bottom: 0;
}

.player-card-top .player-picture .player-extra {
	position: absolute;
	right: 0;
	bottom: -0.5rem;
	overflow: hidden;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	height: 2rem;
	padding: 0 1.5rem;
	text-align: right;
	background: none;
}

.player-card-top .player-picture .player-extra span {
	margin-left: 0.6rem;
	text-shadow: 2px 2px #333;
}

.player-card-bottom {
	position: relative;
}

.player-card-bottom .player-info {
	display: block;
	padding: 0.3rem 0;
	color: black;
	width: 90%;
	margin: 0 auto;
	height: auto;
	position: relative;
	z-index: 2;
}

.player-card-bottom .player-info .player-name {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(233, 204, 116, 0.1);
	padding-bottom: 0.3rem;
	overflow: hidden;
}
.player-card-bottom .player-info .player-name span {
	display: block;
	text-shadow: 2px 2px #111;
}

.player-card-bottom .player-info .player-features {
	margin: 0.5rem auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.player-card-bottom .player-info .player-features .player-features-col {
	border-right: 2px solid rgba(233, 204, 116, 0.1);
	padding: 0 2.3rem;
}

.player-card-bottom .player-info .player-features .player-features-col span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
	margin-right: 0.3rem;
	font-weight: 700;
}

.player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
	font-weight: 300;
}

.player-card-bottom .player-info .player-features .player-features-col:last-child {
	border: 0;
}

.player-position{
  font-weight: bolder;
  margin-left: 45px;
}
.player-rating{
  margin-left: 42px;
}



.styleListe {
	list-style-type: none;
	text-decoration: none;
	
	width: 100%;
	
	margin-bottom: 40px;


}


.listPlayers{
	text-decoration: none;
display: flex;
flex-direction: column;

width: 100%;

}

.titre{

width: 100%;
}



.colomnejoueur{
	position: absolute;
left:20%;	

text-decoration: none;
}
.colomnenomjoueur{
	position: absolute ;
	left:28%;

text-decoration: none;
}
.colomnenotejoueur{
	position: absolute;
left:36%;

text-decoration: none;
}
.colomnepositionjoueur{
	position: absolute;
left:44%

}

.colomnepaysjoueur{
position: absolute;
left:51%

}

.colomnedribblesjoueur{
position: absolute;
left:60%;
z-index:1
}
.colomnevitessejoueur{
position: absolute;
left:69%;
	z-index:1
}
.colomnepuissancejoueur{
position: absolute;
left:77%;
	z-index:1
}

.colomnedefensejoueur{
position: absolute;
left:85%;
	z-index:1

}

.div-pass{
	width: 1px;
margin-left: 1000px
;
}

.colomnepassejoueur{
position: absolute;
left: 94%;
	z-index:1

}
.colomnepassejoueurtest{
position: relative;
left: 94%;
z-index:1

}






.link{
	text-decoration: none !important;
	color:  black;
		width: 100%;
	

}


.link:hover{
	
		color: rgb(190, 162, 7);
}

.attributsfiltre{
	
	display:flex;
	position: relative;
font-family: 'Teko', sans-serif;

	width: 100%;
z-index: 9;
	
}

	.container-filtre{
		padding-top: 100px;
	}

.att {
 margin-left: 0%;
 margin-right: 3.3%;
font-family: 'Teko', sans-serif;
  background-color: transparent;
  border: none;
  margin-top: 10px;
}


/* ---------------------------------------------------------test pour pagination-------------------------------------- */

.pagination {
 align-items: center; 
 margin-left: 37%;
}


.pagination .text {
	/* Taille chiffre à gauche */
  opacity: 0.6;
  font-size: 1.5rem;
}



.page {
	/* Configuration des boutons changement de page */
  color: black;
  height: 3rem;
  width: 3rem;
 
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.2rem rgb(190, 162, 7) ;
  background-color: transparent;
  border-radius: 0.7rem;
  cursor: pointer;
  
}

.page.active,
.page:hover {
	/* configuration intérieur des boutons changement de page */
  background-color: black;
  color:white
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.restantpage{
	  background-image: url(../assets/marble.jpg);
  
    width: 100%;
   background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
	
}

/* ------------------------------------------------------config mobile--------------------------------------------------------------- */


@media screen and (max-width: 1023px) {


.listPlayers{
	text-decoration: none;
display: flex;

font-family: 'Teko', sans-serif;
font-size: 1.5em;
width: 100%;

}



.styleListeMobile {

width: 100%;
	text-align: center;
	display:flex;
	align-items: center;
	margin-bottom: 30px;
}

.colomnejoueurMobile{

position:absolute;
left:15%
}


.colomnenomjoueurMobile{

position:absolute;
left:40%
}

.colomnenotejoueurMobile{
position:absolute;
left:60%;
	
}

.colomnepositionjoueurMobile{
position:absolute;
left:80%
}
.colomnepositionjoueurMobileTest{
position:relative;
left:10%
}

.searchbar{
text-align: center;

margin-top: 20px;	
}

.backrecherche{


background-color:black;
	width: 100%;
	height: 50px;
	z-index: 9;
	

	float:right
}
.listerecherche{

	
	  font-family: 'Sedgwick Ave Display', cursive;
	  text-decoration: none;
	  height:100%;
	  margin-top:20px;
	 z-index: 9;
	 
	
}

.recherche{
	
	color: white;
display:flex;
height:100%;
text-align: center;
padding-left: 5px;
 z-index: 9;	 
}

.titre{
	position: relative;
	right:10%;
height: 130px;
width: 100%;
}

.fond{
background-color: white;
   padding-bottom: 10px;
   
   border: none;
   font-size: 25px;
}

.affichage{

top:30%
}

.filtre{
margin-left: 10px;
position: absolute;
margin-top:5px ;
background-color: transparent;
border:none;
font-size: 20px;
font-weight: bold;
}
.fontsidebar{
	background-color: white;

background-color: white;
width: 20%;
}
.sidebar{
	background-color: white;
   width: 1000px;
}


/* ---------------------------------------------------------test pour pagination-------------------------------------- */

.pagination {
 align-items: center; 
 margin-left: 3%;
}


.pagination .text {
	/* Taille chiffre à gauche */
  opacity: 0.6;
  font-size: 1.5rem;
}



.page {
	/* Configuration des boutons changement de page */
  color: black;
  height: 3rem;
  width: 3rem;
 
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.2rem rgb(190, 162, 7) ;
  background-color: transparent;
  border-radius: 0.7rem;
  cursor: pointer;
  
}

.page.active,
.page:hover {
	/* configuration intérieur des boutons changement de page */
  background-color: black;
  color:white
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.restantpage{
	  background-image: url(../assets/marble.jpg);
  
    width: 100%;
   background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
	
}

.fut-player-card {
	position: relative;
	width: 120px;
	height: 165px;
	background-image: url(../assets/carteFUT.png);
	display:flex;
	background-size: 100% 100%;
	-webkit-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;	
	margin-top: 0px;
	margin-bottom: 20px;
}


.player-card-top {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: black;
	/* positionnement position rate */
	left: -35%;
	bottom: 140%;
}

.player-card-top .player-master-info {
	position: absolute;
	line-height: 2.2rem;
	font-weight: 300;
	padding: 1.5rem 0;
	text-transform: uppercase;
}

.player-card-top .player-master-info .player-rating {
	font-size: 1rem;
	
}

.player-card-top .player-master-info .player-position {
	font-size: 0.8rem;
}

.player-card-top .player-master-info .player-nation {
	display: block;
	width: 2rem;
	height: 25px;
	margin: 0.3rem 0;
}

.player-card-top .player-master-info .player-nation img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.player-card-top .player-master-info .player-club {
	display: block;
	width: 2.1rem;
	height: 40px;
}

.player-card-top .player-master-info .player-club img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.player-card-top .player-picture {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
}
.player-card-top .player-picture img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	position: relative;
	right: -10.5rem;
	bottom: 0;
}

.player-card-top .player-picture .player-extra {
	position: absolute;
	right: 0;
	bottom: -0.5rem;
	overflow: hidden;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	height: 2rem;
	padding: 0 1.5rem;
	text-align: right;
	background: none;
}

.player-card-top .player-picture .player-extra span {
	margin-left: 0.6rem;
	text-shadow: 2px 2px #333;
}

.player-card-bottom {
	position: relative;
}

.player-card-bottom .player-info {
	display: block;
	padding: 0.3rem ;
	color: black;
	width: 90%;
	margin-top: 0 auto;
	height: auto;
	position: relative;
	z-index: 2;
}

.player-card-bottom .player-info .player-name {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1.0rem;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(233, 204, 116, 0.1);
	/* positionnement des attributs */
     margin-top: -183px;
	
	overflow: hidden;
}
.player-card-bottom .player-info .player-name span {
	display: block;
	text-shadow: none;
}

.player-card-bottom .player-info .player-features {
	margin: -0.5rem auto;
	/* positionnement de l'ensemble des attributs */
	 margin-left: -0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.player-card-bottom .player-info .player-features .player-features-col {
	border-right: 2px solid rgba(233, 204, 116, 0.1);
	
}

.player-card-bottom .player-info .player-features .player-features-col span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0.5rem;
	text-transform: uppercase;
	
}

.player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
	margin-right: 0.1rem;
	font-weight: 700;
	/* rapprochement des attributs */
	margin-left: -70px;
}

.player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
	font-weight: 300;
}

.player-card-bottom .player-info .player-features .player-features-col:last-child {
	border: 0;
}

.player-position{
  margin-top: -18px;
  margin-left: 42px;

}
.player-rating{
  margin-left: 42px;
}



}


