/* banner-width >= 100% */
body {
   
  --banner-width: 500%;
}
@media screen and (min-width: 64rem) {
  body { --banner-width: 100%; }
}
@keyframes marqueelike {
	0%, 100% { margin-left: 0; }
	99.99% { margin-left: calc(var(--banner-width) * -1); }
}
.banner {
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  background-color: rgb(190, 162, 7);
  box-shadow: 10px 5px 5px 5px white;
  
}
.banner > span {
  position: absolute;
  min-width: 100%;
  display: inline-block;
  white-space: nowrap !important;
  padding-top: 0.3rem;
  animation: linear marqueelike 10s infinite;
  font-size: 30px;
}
.banner > span:first-of-type {
  left: 5;
  color: white;
}
.banner > span:last-of-type {
  left: var(--banner-width);
}

.fontStyle{
    font-family: 'Acme', sans-serif, cursive;
}

