


.fut-player-card-team-perso {
	
	width: max(10vw, 6em, 80px);
	height: 250px
	;


	
	background-image: url(../assets/newcard.jpg);
	display:flex;
	background-size: 100% ;
	background-repeat: no-repeat;
	padding: 3.8rem 0;

	-webkit-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;	
	
}

	.taille-carte{
width: 100%;
text-align: center;
	}

	.player-info-team{
		text-align: center;
		
	}

.player-info-team .player-name-team {

	
	
	/* font size du nom du joueur-------------------- */
	font-size:max(1.3vw, 0em, 10px);

}

