@media screen and (min-width: 650px) {
  .fut-player-card-team-perso {
    background-image: url(../assets/newcard.jpg);

    width: 140px;
    height: 15em;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .test {
    height: 500px;
  }

  .taille-carte {
    width: 100%;
    text-align: center;
  }

  .player-rating-team {
    position: relative;
    left: 15%;
    top: 13%;
  }
  .player-position-team {
    position: relative;
    left: 15%;
    top: 15%;
  }

  .player-name-team {
    position: relative;
    padding-top: 60px;
    text-align: center;
    font-size: 17px;
  }
}

@media screen and (max-width: 649px) {
  .fut-player-card-team-perso {
    background-image: url(../assets/newcard.jpg);

    width: 110px;
    height: 15em;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .taille-carte {
    width: 100%;
    text-align: center;
  }

  .player-rating-team {
    position: relative;
    left: 15%;
    top: 9%;
    font-size: 13px;
  }
  .player-position-team {
    position: relative;
    left: 15%;
    top: 10%;
    font-size: 13px;
  }

  .player-name-team {
    position: relative;
    padding-top: 33px;
    text-align: center;
    font-size: 13px;
  }

  @media screen and (max-width: 540px) {
    .fut-player-card-team-perso {
      background-image: url(../assets/newcard.jpg);

      width: 90px;
      height: 15em;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .taille-carte {
      width: 100%;
      text-align: center;
    }

    .player-rating-team {
      position: relative;
      left: 15%;
      top: 8%;
      font-size: 12px;
    }
    .player-position-team {
      position: relative;
      left: 15%;
      top: 8%;
      font-size: 12px;
    }

    .player-name-team {
      position: relative;
      padding-top: 27px;
      text-align: center;
      font-size: 12px;
    }
  }
  @media screen and (min-width: 415.1px) and (max-width: 435px) {
    .fut-player-card-team-perso {
      background-image: url(../assets/newcard.jpg);

      width: 60px;
      height: 15em;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .taille-carte {
      width: 100%;
      text-align: center;
    }

    .player-rating-team {
      position: relative;
      left: 15%;
      top: 10%;
      font-size: 9px;
    }
    .player-position-team {
      position: relative;
      left: 15%;
      top: 10%;
      font-size: 9px;
    }

    .player-name-team {
      position: relative;
      padding-top: 33px;
      text-align: center;
      font-size: 11px;
    }
  }
  @media screen and (max-width: 415px) {
    .fut-player-card-team-perso {
      background-image: url(../assets/newcard.jpg);

      width: 70px;

      background-repeat: no-repeat;
      background-size: 100%;
    }

    .taille-carte {
      width: 100%;
      text-align: center;
    }

    .player-rating-team {
      position: relative;
      left: 15%;
      top: 4%;
      font-size: 9px;
    }
    .player-position-team {
      position: relative;
      left: 15%;
      top: 3%;
      font-size: 9px;
    }

    .player-name-team {
      position: relative;
      padding-top: 5px;
      text-align: center;
      font-size: 11px;
    }
  }
}
