.connexionButton{
    background-color: rgb(190, 162, 7) ;
    color: black;
   border-radius: 10px;
   font-family: 'Teko', sans-serif; 
    font-size:1.2em
}


/* Animation property */
.connexionButton {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


.colorTitle{
 background-color: rgb(190, 162, 7);
  font-family: 'Teko', sans-serif; 
    font-size:1.2em;
 
}
.colorBody{
 background-color: white;
 
}



.phraseModal{
position:relative;
right:20%;
     font-family: 'Teko', sans-serif; 
    font-size:1.3em;
    border:none;
    background-color:transparent;
}
.phraseModalSuscribe{
position:relative;
right:30%;
     font-family: 'Teko', sans-serif ; 
    font-size:1em;
    border:none;
    background-color: transparent;
}
.font-modal{
   font-family: 'Teko', sans-serif; 
    font-size:1em
}

.buttonForm{
  margin-left: 18%;
  margin-top: 10%;
     font-family: 'Teko', sans-serif; 
 font-size:0.5em 
}
.buttonFormSuscribe{
  margin-left: 17%;
  margin-top: 10%;
     font-family: 'Teko', sans-serif !important; 
 font-size:1em !important
}


.valider-connexion{
 font-family: 'Teko', sans-serif; 
 font-size:2em
}


.place-input{
  margin-left: 33%;
}


/* ------------------------------------------------------config desktop-------------------------------------------------------- */


@media screen and (min-width: 1224px) {
.connexionButton{
    background-color: rgb(190, 162, 7) ;
    color: white;
   border-radius: 10px;
    
}


/* Animation property */
.connexionButton {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


.colorTitle{
 background-color: rgb(190, 162, 7);
 
}
.colorBody{
 background-color: white;
 
}


.phraseModal{
position:relative;
right:22%;
     font-family: 'Teko', sans-serif; 
    font-size:1.8em;
    border:none;
    
}

.phraseModal:hover{
  color:rgb(190, 162, 7)
}

.phraseModalSuscribe{
position:relative;
right:24%;
     font-family: 'Teko', sans-serif; 
    font-size:1.8em;
    border:none
}


.place-input{
  margin-left: 0%;
}
.buttonForm{
  margin-top: 5%;
  margin-left: 40%;
  width: 100px;
}

.col-form-label{
font-size: 1.8em !important;
}

.buttonFormSuscribe{
  
  margin-left: 40%;
  margin-top: 10%;
     font-family: 'Teko', sans-serif !important; 
 font-size:1em !important;
  width: 100px;
}

.motdepasse{
  width: 465px;
  border-radius: 6px;
}

.pseudo{
   width: 465px;
   border-radius: 6px;
}
}

