.header{
    background-color: black;
}

.buttonGroup{
    display: flex;
    justify-content: space-around;
 padding-top: 10px;
}


/* ------------------------------------------------config desktop----------------------------------------------------------------------------- */

@media screen and (min-width: 1224px) {
 .buttonGroup{
 display:inline-flex; 
 padding-left:1300px;
}   

.suscribeButton{
    margin-right: 10px;
}
}




