.header{
    background-color: black;
border-style: double;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.buttonGroup{
    display: flex;
    justify-content: space-around;
 padding-top: 10px;
  z-index: 10;
}

.icone{
  width: 5px; 
}

.profil{
    display: flex;
    margin-left: 44%;
   color: white;
   padding-top: 5px;
}

.dropdown{
    color: white;
    text-decoration: none;
     z-index: 10;
        font-family: 'Teko', sans-serif; 
    font-size: 25px;
    
}

.moncompte{
    text-decoration: none;
    z-index: 10;
    font-family: 'Teko', sans-serif; 
    font-size: 25px;
}

.nav-dropdown-dark-example{
    color: white !important;
     z-index: 10;
}





/* ------------------------------------------------config desktop----------------------------------------------------------------------------- */

@media screen and (min-width: 1224px) {
    
 .buttonGroup{
 
 margin-left:84%;
}   

.suscribeButton{
    margin-right: 10px;
}




.profil{
    display: flex;
    z-index: 10;
    color: white;
    padding-bottom: 5px;
}

.moncompte{

    color: white ;
 z-index: 10;
}
.comptegroupe{
    display: flex;
    padding-right: 100px;
    
}

.dropdown{
   text-decoration: none !important;
   color: white !important;
   
}



}

