.header{
    background-color: black;
border-style: double;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.buttonGroup{
    display: flex;
    justify-content: space-around;
 padding-top: 10px;
}

.icone{
  width: 5px; 
}

.profil{
    display: flex;
   
}





/* ------------------------------------------------config desktop----------------------------------------------------------------------------- */

@media screen and (min-width: 1224px) {
    
 .buttonGroup{
 
 margin-left:84%;
}   

.suscribeButton{
    margin-right: 10px;
}




.profil{
    display: flex;
    margin-left: 88%;
    color: white;
}

.moncompte{

    color: white ;

}
.comptegroupe{
    display: flex;
    padding-right: 100px;
}

.dropdown{
   text-decoration: none !important;
   color: white !important
}



}

