.fut{
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow:#e7f6ff 0 -1px 0,
black 1px 1px 0,
blue 2px 2px 0,
purple 3px 3px 0,
pink 4px 4px 0,
black 5px 5px 0,
#333 5px 5px 10px;color:rgb(190, 162, 7);
}

.myFont{
font-family: 'Sedgwick Ave Display', cursive;
}

.navStyle{
 margin-top: 30px;
}


