.fut{
  
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow:#e7f6ff 0 -1px 0,
black 1px 1px 0,
white 2px 2px 0,
brown 3px 3px 0,
white 4px 4px 0,
black 5px 5px 0,
#333 5px 5px 10px;color:rgb(190, 162, 7);
}

.myFont{
font-family: 'Teko', sans-serif;  
color:white !important;
font-size: 1.8em !important;
}

.navbar{
  z-index: 1;
  background-image:url(../assets/etoiles.jpeg);
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
box-shadow: 0px 4px 5px white ;
background-color: black;

}

.nav-link{
 
  color: white !important;
}

.navbar-collapse{
  background-color:black;
  width:1000px
}

.navbar-toggler{
  color:white;
 padding-left: 10px;

}

.navbar-toggler-icon{
  
  border-style: solid;
  border-color:rgb(190, 162, 7);
  border-radius:10px;
  color:white;
  background-color: white;
  padding-left: 10px;
}

.body{
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

.toast{
 margin-top: 100px;
   width: 400px;

}
.toastensemble{
  display: flex;
  flex-direction: column-reverse;
   
}

.admin{
font-family: 'Teko', sans-serif;
text-decoration: none;

color: white !important;
}

.dropdown-menu{
background-color: black !important;
color: white !important;
}

.show{
  background-color:black
}

.nav-item{
  z-index: 10;
}

.buttonStyle{
font-size: 1.1em !important
}

