.suscribeButton{
    color:black;
    text-align: center;
    border-radius: 10px;
       font-family: 'Teko', sans-serif; 
    font-size:1.1em
}

.suscribe-component{
   font-family: 'Teko', sans-serif !important ;    
}

.valid-message{
    font-size: 1.8em;
    text-align: center;
    padding-top: 5%;
 
}