body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@media screen and (max-width: 1280px)
{
body{
  background-size: 1000px;
  background-position: top;
  background-repeat: no-repeat;

}
}
